[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "toscmask"]
	path = toscmask
	url = https://github.com/toscm/toscmask
[submodule "toscutil"]
	path = toscutil
	url = https://github.com/toscm/toscutil
